{% extends 'base.html' %}

{% block title %}{{ title }} Tarifa{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ title }} Tarifa para Contrato: {{ contrato.numero }}</h1>
    <form method="post" class="card p-4 shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Tarifa</button>
        <a href="{% url 'facturacion:contrato_update' pk=contrato.pk %}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>
{% endblock %} 